html {
  scroll-behavior: smooth;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  background-color: #333;
  font-family: Arial, sans-serif;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  /* position: relative; */
  margin: auto;
  max-width: 1440px;
  width: 100%;
}

section {
  display: flex;
}

.img-container {
  max-width: 35%;
  overflow: hidden;
}

.img-container > img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 7s ease;
}

.img-container:hover > img {
  transform: scale(1.3);
}

.button {
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

.order {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  background-color: #fff;
  border-radius: 0.5rem;
}
.order.top {
  width: 40%;
  width: 10rem;
}

.order-bottom {
  width: 10%;
  width: 10rem;
}

.order > a {
  text-decoration: none;
  color: #000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

/* HEADER  */

.header {
  position: sticky;
  top: 0;
  width: 101%;
  display: flex;
  background-color: rgba(255, 255, 255, 0);
  justify-content: flex-start;
  align-items: center;
  padding: 2em;
  z-index: 111;
  transition: background-color 1s ease, margin-left 1s ease-in-out;
}

.sticky {
  background-color: rgba(51, 51, 51, 1);
}

.logo {
  margin: 2rem;
  margin-right: 2rem;
}

.logo > a {
  font-size: 3rem;
  font-weight: bold;
  cursor: default;
}

.logo-bottom > a {
  font-size: 2rem;
}

.nav {
  margin-left: 5rem;
  transition: margin-left 1s ease-in-out;
}

header.sticky .nav {
  margin-left: 35rem;
}

.nav > ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 2rem;
}

.nav > ul > li {
  margin-left: 2em;
  transition: transform 1s ease;
}

.nav > ul > li > a {
  color: #fff;
  font-size: 1.5em;
  position: relative;
}

.nav > ul > li a::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 0.25rem;
  background-color: white;
  transition: width 0.5s ease-in-out;
  transform: translateX(-50%);
}

.nav > ul > li a:hover {
  &::before {
    width: 100%;
  }
}

/* SECTION 1 */

.first {
  background-color: #222;
  justify-content: space-between;
  align-items: center;
}

.supply {
  display: flex;
  flex-direction: column;
  margin: 15% 5% 5% 5%;
}

.supply > ul {
  list-style-type: none;
  margin-bottom: 1rem;
}

.supply > h1 {
  font-size: 2rem;
}

.supply > h2 {
  font-size: 1.2rem;
  margin: 0.5rem 0 2rem 0;
}

.supply > ul > li {
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  margin: 1rem 0;
}

.supply > ul > li > img {
  margin-right: 2rem;
}

.space {
  width: 100%;
  height: 6.5rem;
  background-color: #282829;
}

/* SECTION 2 */

.second {
  background-color: #282829;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 3em 0 3rem;
  font-size: 1.2em;
  max-width: 40%;
}

.about > ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.about > ul > li {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #fff;
  margin: 1em 0;
  filter: brightness(0.5);
}

.info-icon {
  margin-right: 1em;
}

.info-text {
  text-align: justify;
}

/* SECTION 3  */

.third {
  background-color: #282829;
  /* position: relative; */
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* overflow: hidden; */
  width: 100%;
  margin: 6rem 8rem;
  background-color: #fff;
  border-radius: 10px;
}

.news {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 65%;
  height: 80%;
  padding: 2rem 6rem;
}

.news > h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: "Prata", serif;
  color: gray;
  line-height: 0.8;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="email"] {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

label {
  margin-bottom: 1rem;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  background-color: #282829;
  color: #fff;
  border-radius: 7px;
}

.overlay-container {
  max-width: 35%;
}

#city {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.overlay {
  position: relative;
}

#manager {
  position: absolute;
  display: block;
  bottom: 0;
  width: 110%;
  height: auto;
}

/* SLAYER */

.slider {
  width: 100%;
  min-height: 40rem;
  position: relative;
  overflow: hidden;
}

.slider-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 3s ease;
}

.slider-img.active {
  opacity: 1;
}

.slider > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.controls {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  z-index: 10;
}

.prev,
.next {
  cursor: pointer;
  max-width: 10rem;
  height: auto;
}

.controls > img {
  filter: brightness(0) invert(1);
}

/* FOOTER  */

footer {
  background-color: #222;
  /* padding-top: 5rem; */
}

.footer-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 10rem;
  margin-top: 6rem;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
  padding: 1rem 0;
}

.footer-menu ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  font-family: "Arial", sans-serif;
  font-style: italic;
  font-size: 20px;
}

.footer-menu li {
  margin: 0 2rem;
}

.footer-menu a {
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.footer-info {
  display: flex;
  flex-direction: column;
}

.footer-social,
.footer-docs {
  display: grid;
  align-items: center;
  margin: 1rem 3rem;
}

/* .footer-social-element {
  flex: 1;
  max-width: 15%;
} */

.footer-social,
.footer-docs {
  /* justify-content: space-between; */
  grid-template-columns: repeat(13, 1fr);
  gap: 2rem;
}

.item {
  justify-self: center;
  align-self: center;
}

.footer-docs > .item > a {
  text-decoration: none;
  color: inherit;
}

.logo-bottom,
.copyright {
  grid-column: 1 / 4;
}

.social-links,
.privacy {
  grid-column: 5 / 10;
}

.social-links > a {
  padding: 0 0.5rem;
}

.order-bottom,
.terms {
  grid-column: 11 / 14;
}

.footer-docs {
  justify-content: space-around;
}
